*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    color: white;
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/043/512/797/large/bryan-bitter-interface-transaction.jpg?1637501174);
    background-size: cover;
    height: 100%;
    width: 100%;
}

table{
    background-color: white;
    color: black;
    border-radius: 10px;
}

tr#m, td#m, th#acheter{
    border: 2px solid rgb(0, 0, 0);
  }

tr#top{
    background-color: rgb(168, 0, 0);
}

tr{
    background-color: rgb(192, 192, 192);
}

img#potion{
    width: 36px;
    height: 36px;
    margin-left: 10px;
    border-radius: 50%;
    vertical-align: middle;
}

.btnM {
    width: fit-content;
    min-width: 100px;
    height: 45px;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: rgb(192, 192, 192);
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
  }
  
  .btnM:hover {
    background-color: #F2F2F2;
    box-shadow: 0px 0px 20px -18px;
  }
  
  .btnM:active {
    transform: scale(0.95);
  }

  .btnplayR {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    margin-left: 750px;
  }
  
  .btnplayR:focus,
  .btnplayR:hover {
    color: #fff;
  }
  
  .btnplayR:focus:after,
  .btnplayR:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .btnplayR:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
