*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-image: url(https://cdna.artstation.com/p/assets/images/images/035/862/438/large/jln-mck-f3h-01-03.jpg?1616089188);
    color: rgb(0, 0, 0);
}

form{
    background-color: white;
    color: black;
}

.background{
    background-color: rgba(255, 255, 255, 0.864);
    border-radius: 10px;
    width: auto;
    transition: box-shadow 0.3s ease; 
    height: 200px;
}

img#background{
  width: 100%; /* Largeur de l'image pour remplir la div */
  height: 150px; /* Hauteur de l'image pour remplir la div */
  object-fit: cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding-top: 0px;
}
